/* nejsme vcerejsi, pouzivame moderni box model */
*,
:after,
:before {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.kontejner {
  display: flex;
  flex-wrap: wrap;
}

.blok {
  padding: 20px;
}

.horni {
  background-color: #f1c40f;
  flex: 100%;
}

.prvni {
  background-color: #2ecc71;
  flex: calc(1/3);
}

.druhy {
  background-color: #e74c3c;
  flex: calc(1/3);
}

.treti {
  background-color: #8e44ad;
  flex: calc(1/3);
}

/* ---------------------------------------------------- */
